@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">خوش آمدید</h1>
    <p>
        شما امکان دسترسی به این صفحه را ندارید، ابتدا
        <a asp-controller="Home" asp-action="Login">وارد شوید</a>
        و یا
        <a asp-controller="Home" asp-action="SignUp">ثبت نام </a>نمایید.
    </p>
</div>