@{
    ViewData["Title"] = "ورود";
}
<h1>@ViewData["Title"]</h1>

<form>
    <div class="input-holder">
        <input class="ltr-input" />
        <label>نام کاربری</label>
    </div>
    <div class="input-holder">
        <input class="ltr-input" type="password" />
        <label>رمز عبور</label>
    </div>
    <div class="form-buttons-holder">
        <input style="width: 100%;" class="submit-input" type="submit" value="ورود" />
    </div>
</form>