@model SignUpCompletedViewModel

@{
    ViewBag.Title = "Sign Up Completed";
}

<p>ثبت نام شما با موفقیت کامل شد</p>

<p>نام کاربری: @Model.UserName</p>
<p>نام: @Model.FirstName</p>
<p>نام خانوادگی: @Model.LastName</p>